/* @settings

name: Chord Sheets
id: chord-sheets
settings:
	## CHORDS
    -
        id: chords
        title: Chords
        type: heading
        level: 3
    -
        id: chord-highlight-color
        title: Chord symbol color
        description: Highlight color for chord symbols. Defaults to the current theme's accent color.
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: chord-highlight-font-weight
        title: Chord symbol font weight
        description: Font weight used for chord symbols.
        type: variable-select
        default: bolder
        options:
            - '100'
            - '200'
            - '300'
            - normal
            - '500'
            - '600'
            - bold
            - '800'
            - '900'
            - lighter
            - bolder
            - inherit
    -
        id: chord-background-color
        title: Chord background color
        description: Highlight color for chord symbols. Defaults to transparent.
        type: variable-themed-color
        format: hex
        default-light: '#FFFFFF00'
        default-dark: '#00000000'
        opacity: true;


    ## INLINE CHORDS

    -
        id: chord-sheets-uniform-inline-style
        title: Uniform inline chord style
        description: |
        	Use the styling for chord symbols for the whole inline chord. Disables independent styling of brackets and
        	auxiliary text.
        type: class-toggle
    -
        id: inline-chords-style-info
        title: Advanced inline chord styling
        description: |
        	**Note**: The following settings only take effect when the *Uniform inline chord style* option is
        	**disabled**.
        type: info-text
        markdown: true
    -
        id: inline-chord-tag-color
        title: Inline chord bracket color
        description: |
        	Highlight color for the brackets of inline chords, such as [Dm]. Defaults to the current theme's faint text
        	color.
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: inline-chord-bracket-font-weight
        title: Inline chord bracket font weight
        description: Font weight for the brackets of inline chords, such as [Dm].
        type: variable-select
        default: inherit
        options:
            - '100'
            - '200'
            - '300'
            - normal
            - '500'
            - '600'
            - bold
            - '800'
            - '900'
            - lighter
            - bolder
            - inherit
    -
        id: inline-chord-aux-text-color
        title: Inline chord auxiliary text color
        description: |
        	Highlight color for auxiliary text in inline chords, such as [Dm special]. Defaults to the current theme's
        	normal code color`.
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: inline-chord-aux-text-font-weight
        title: Inline chord auxiliary text font weight
        description: Font weight for auxiliary text in inline chords, such as [Dm special].
        type: variable-select
        default: inherit
        options:
            - '100'
            - '200'
            - '300'
            - normal
            - '500'
            - '600'
            - bold
            - '800'
            - '900'
            - lighter
            - bolder
            - inherit

	## RYHTM MARKERS
    -
        id: rhythm-markers
        title: Rhythm markers
        type: heading
        level: 3
    -
        id: rhythm-marker-color
        title: Color
        description: |
        	Highlight color for rhythm markers in chord lines such as in "Dm / / / | % | Em / / /".
        	Defaults to the current theme's faint text color.
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: rhythm-marker-font-weight
        title: Inline chord auxiliary text font weight
        description: Font weight for rhythm markers.
        type: variable-select
        default: inherit
        options:
            - '100'
            - '200'
            - '300'
            - normal
            - '500'
            - '600'
            - bold
            - '800'
            - '900'
            - lighter
            - bolder
            - inherit

    ## HEADERS
    -
        id: section-headers
        title: Section headers
        type: heading
        level: 3
    -
        id: section-header-title-color
        title: Section title color
        description: |
        	Highlight color for the section title in section headers. Defaults to the current theme's highlight color.
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: section-header-background-color
        title: Background color
        description: Background color for section headers. Defaults to transparent.
        type: variable-themed-color
        format: hex
        default-light: '#FFFFFF00'
        default-dark: '#00000000'
        opacity: true;
    -
        id: section-header-title-font-weight
        title: Section title font weight
        description: Font weight for the section title in section headers.
        type: variable-select
        default: bolder
        options:
            - '100'
            - '200'
            - '300'
            - normal
            - '500'
            - '600'
            - bold
            - '800'
            - '900'
            - lighter
            - bolder
            - inherit
    -
        id: section-header-font-size
        title: Font size
        description: |
        	The font size of the section header. Defaults to the current theme's code block font size.
        	NOTE: you must use a full CSS font size value including units such as: 1em, 16px, 12pt etc. You can also
        	reference a CSS variable provided by Obsidian or a theme. For example, to use the font size for 3rd level
        	headers, use: var(--h3-size)
        type: variable-text
        default: ""

    -
        id: chord-sheets-uniform-header-style
        title: Uniform section header style
        description: |
        	Use the styling for section header names for the whole header. Disables independent styling of header tags.
        type: class-toggle
    -
        id: header-style-info
        title: Advanced section header styling
        description: |
        	**Note**: The following settings only take effect when the *Uniform section header style* option is
        	**disabled**.
        type: info-text
        markdown: true
    -
        id: section-header-tag-color
        title: Section header tag color
        description: |
        	Highlight color for the opening and closing tags of section headers. Defaults to the current theme's faint
        	text color.
        type: variable-themed-color
        format: hex
        default-light: '#'
        default-dark: '#'
    -
        id: section-header-tag-font-weight
        title: Section header tag font weight
        description: Font weight for the opening and closing tags of section headers.
        type: variable-select
        default: inherit
        options:
            - '100'
            - '200'
            - '300'
            - normal
            - '500'
            - '600'
            - bold
            - '800'
            - '900'
            - lighter
            - bolder
            - inherit


   ## LINE MARKERS

    -
        id: line-markers
        title: Line markers
        type: heading
        level: 3
    -
        id: line-marker-color
        title: Line marker color
        description: |
        	Highlight color for line markers such as %c and %t (see the plugin's settings for an explanation). Defaults
        	to the current theme's faint text color.
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: line-marker-font-weight
        title: Section title font weight
        description: Font weight for the section title in section headers.
        type: variable-select
        default: inherit
        options:
            - '100'
            - '200'
            - '300'
            - normal
            - '500'
            - '600'
            - bold
            - '800'
            - '900'
            - lighter
            - bolder
            - inherit
*/

.chord-sheet-chord-line .chord-sheet-chord {
	background-color: var(--chord-background-color, transparent);
}

.chord-sheet-chord-name {
	text-align: center;
	font-family: var(--font-monospace);
}

.chord-sheet-chord-name.chord-sheet-chord-highlight {
	color: var(--chord-highlight-color, var(--text-accent));
	font-weight: var(--chord-highlight-font-weight, bolder);
}

.chord-sheet-chord-line .chord-sheet-chord-name {
	cursor: default;
	position: relative;
	z-index: 100;

	/* increase touch target on mobile */
	padding: 5px;
	margin: -5px;
}

.chord-sheet-rhythm-marker {
	color: var(--rhythm-marker-color, var(--text-faint));
	font-weight: var(--rhythm-marker-font-weight, inherit);
}

.chord-sheet-line-marker {
	color: var(--line-marker-color, var(--text-faint));
	font-weight: var(--line-marker-font-weight, inherit);
}

code.chord-sheet-chord-block-preview {
	font-size: unset;

	> * {
		font-size: var(--code-size);
	}

	> .chord-sheet-section-header {
		font-size: var(--section-header-font-size, var(--code-size));
	}
}

.chord-sheet-section-header {
	color: var(--section-header-title-color, var(--text-accent));
	font-size: var(--section-header-font-size, var(--code-size)) !important;
}

.chord-sheet-section-header-content {
	background-color: var(--section-header-background-color, var(--code-background));
}

.chord-sheet-section-header-name {
	color: var(--section-header-title-color, var(--bold-color));
	font-weight: var(--section-header-title-font-weight, bolder);
}

.chord-sheet-section-header-tag {
	color: var(--section-header-tag-color, var(--text-faint));
	font-weight: var(--section-header-tag-font-weight, inherit);
}

.chord-sheets-uniform-header-style .chord-sheet-section-header-tag{
	color: var(--section-header-title-color, var(--bold-color));
	font-weight: var(--section-header-title-font-weight, bolder);
}

.chord-sheet-inline-chord-tag {
	color: var(--inline-chord-tag-color, var(--text-faint));
	font-weight: var(--inline-chord-bracket-font-weight, inherit);
}

.chord-sheet-inline-chord-aux-text {
	font-weight: var(--inline-chord-aux-text-font-weight, inherit);
	color: var(--inline-chord-aux-text-color, var(--code-normal));
}

.chord-sheets-uniform-inline-style .chord-sheet-inline-chord-tag, .chord-sheets-uniform-inline-style .chord-sheet-inline-chord-aux-text {
	color: var(--chord-symbol-color, var(--text-accent));
	font-weight: var(--chord-highlight-font-weight, bolder);
}



/* Chord Boxes */
.chord-sheet-chord-box svg {
	margin-top: -10%;
	margin-bottom: -5%;
}

.chord-sheet-position-chooser {
	display: flex;
	justify-content: center;
	font-size: var(--font-ui-smaller);
	margin-top: -10px;
	padding-left: 5%;
}

.chord-sheet-position-label {
	margin: 0 0.2rem;
}

[class^=chord-sheet-btn] {
	color: var(--text-faint);
	cursor: default;
}

.chord-sheet-pos-btn-enabled {
	color: var(--link-color);
	text-decoration: var(--link-decoration);
	cursor: pointer;
}


/* Chord Popup */

.chord-sheet-chord-popup {
	background: var(--background-primary);
	border: var(--border-border-style);
}

.chord-sheet-chord-popup .chord-sheet-chord-name {
	text-align: center;
	margin-bottom: -10px;
	font-size: var(--font-ui-small);
}



/* Chord Blocks */
.chord-sheet-block-start ~ .code-block-flair,
.chord-sheet-block-start .code-block-flair/*,
.markdown-source-view.mod-cm6 .cm-fold-indidcator*/ {
	display: none !important;
}

.chord-sheet-chord-overview-container + .chord-sheet-block-start {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.markdown-source-view.mod-cm6 .cm-content > .chord-sheet-chord-overview-container[contenteditable=false] {
	/* CodeMirror sets this property to paint, resulting in a
	gap between chord overview and the rest of the block */
	contain: none !important;
}

.chord-sheet-chord-overview-container {
	white-space: normal;
	font-family: var(--font-monospace);

	.chord-sheet-chord-overview {
		display: flex;
		flex-wrap: wrap;

		white-space: normal;

		background-color: var(--code-background);
		border-top-left-radius: var(--code-radius);
		border-top-right-radius: var(--code-radius);

		margin-inline-start: calc(-1 * var(--size-4-4));

		&.chord-sheet-preview-mode {
			padding-block-start: var(--size-4-3);
			margin-inline-start: 0;
		}
	}

	.chord-sheet-chord-name {
		font-size: var(--code-size);
	}

	.chord-sheet-chord-diagram {
		margin-bottom: 1rem;
	}

	.chord-sheet-chord-overview svg {
		margin-top: -15%;
	}
}

.chord-sheet-chord-overview-container:has(+ .chord-sheet-chord-block-preview) {
	margin-inline-end: calc(-1 * var(--size-4-4));
}

.chord-sheet-chord-block-preview {
	.chord-sheet-chord-overview {
		margin-inline-end: calc(-1 * var(--size-4-4));
		margin-inline-start: calc(-1 * var(--size-4-4));
	}
}

.chord-sheet-chord-block-preview .chord-sheet-chord-line {
	min-height: calc(var(--line-height-normal) * 1em);
}

.chord-sheet-tools-container, .chord {
	display: flex;
	position: relative;
	z-index: 10;

	user-select: none;
	container-type: inline-size;
}

.chord-sheet-tools {
	display: inline-flex;
	right: var(--size-2-1);
	top: var(--size-2-1);

	white-space: normal;
	font-size: var(--font-ui-small);
}

.chord-sheet-tools-container.with-chord-overview .chord-sheet-tools {
	right: var(--size-4-4);
	top: -4px;
}


@container (min-width: 400px) {
	.chord-sheet-tools {
		position: absolute;
	}
}

.chord-sheet-tools select, .chord-sheet-tools button {
	height: calc(var(--input-height) * 0.75);
	font-size: var(--font-ui-small);
}

.chord-sheet-transpose-control {
	display: flex;
	white-space: nowrap;
	align-items: center;

	background-color: var(--interactive-normal);
	box-shadow: var(--input-shadow);
	border-radius: var(--button-radius);

	margin-right: 6px;

	> * {
		padding-left: 12px;
		padding-right: 12px;
	}
}

.chord-sheet-transpose-control button {
	border-radius: 0;
	box-shadow: none;
}

.chord-sheet-transpose-control button.chord-sheet-transpose-down  {
	border-start-start-radius: var(--button-radius);
	border-end-start-radius: var(--button-radius);
	border-inline-end: var(--border-border-style);
}

.chord-sheet-transpose-control button.chord-sheet-transpose-up {
	border-start-end-radius: var(--button-radius);
	border-end-end-radius: var(--button-radius);
	border-inline-start: var(--border-border-style);
}

.chord-sheet-transpose-control button:not(:hover) {
	background-color: rgba(0, 0, 0, 0);
}

.chord-sheet-transpose-label {
	color: var(--text-muted);
}

/* Autoscroll controls */
.chord-sheet-autoscroll-control {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: var(--size-4-5);
	border-bottom: 1px solid var(--divider-color);
    border-top: 1px solid var(--divider-color);
	height: 1.6rem;

	color: var(--text-muted);
	font-size: var(--file-header-font-size);

	.slider {
		margin-inline-start: 0.4rem;
	}
}


/* DEBUG */

.chord-sheet-block-start.debug {
	border-top: 2px solid darkred;
}

.chord-sheet-block-end.debug {
	border-right: 2px solid palevioletred;
}

.cm-mygutter {
	width: 20px;
	.S {color: darkred}
	.E {color: palevioletred}
}
